.container{


    display: grid;
    height: 400px;
    width: 1000px;
    background-color: aqua;
    border: black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "header header header header" "main main .sidebar" "footer footer footer footer";
}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: black;
    color: white;
    text-align: center;
    align-content: center;
    display: grid;

}
.item1{
    grid-area: header;

}
.item2{
    grid-area: main;

}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
}